/* You can add global styles to this file, and also import other style files */
* {
  font-family: "Lato", sans-serif;
  color: #dababa;
}

body {
  background-color: #2e0219;
}

.p-carousel {
  background-color: #4a001f;
}

.p-carousel-items-content {
  padding: 25px;
}

.movie {
  position: relative;
  background-color: #2e0219;
  border: 3px solid #111;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90%;

  padding: 10px;
  margin: 10px;
  border-radius: 25px;
}

.movieInfo {
  position: absolute;
  z-index: 3;
  border-radius: 3px solid #111;
  border-radius: 25px;
  height: 385px;
  top: 0;
  background-color: #2e0219;
}

ul.p-carousel-indicators.p-reset {
  display: none !important;
}

.btn {
  font-family: "Limelight", cursive;
  color: #dababa;
  background-color: #2e0219;
  border-radius: 7px;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 140px;
  padding: 10px;
  cursor: pointer;
}

.golden {
  background-color: gold;
}

button:p-tooltip {
  background-color: white;
  z-index: 3;
}
